[Unit]
Description=aria2 Daemon
Requires=network.target
After=dhcpcd.service

[Service]
Type=forking
User=ryan
Group=ryan
ExecStart=/usr/bin/aria2c --conf-path=/home/ryan/.config/aria2/aria2.conf
Restart=on-failure
# RestartSec=1min

[Install]
WantedBy=multi-user.target

